* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  padding-inline-start: 0;
}
:root {
  /*primary colors*/
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /*Neutral colors*/
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /*body copy*/
  --body-font-size: 18px;
  --font-family: "Public Sans", sans-serif;
  --font-bold-weight: 300;
  --font-bolder-weight: 400;
  /*title fonts*/
  --title-font-size: 2.5em;
  --title-font-size-desktop: 1.6em;
  --title-font-wt-desktop: 0;
  --title-small-font-size-desktop: 1em;
  --title-small-font-wt: 50;
  --title-font-wt: 70;
  --title-letter-spacing: 0.01em;
  --title-word-spacing: 0.2em;
  --title-font-color: #494859;
  --title-inner-mobile: 1.1em;
  /*inner content fonts*/
  --para-font-size: 0.8em;
  --para-font-size-desktop: 0.6em;
  --para-line-ht: 1.4em;
  --para-font-color: var(--grayish-blue);

  /*paading and margins*/
  --desktop-padding-top: 5em;
  --desktop-padding-left: 5em;
  --desktop-padding-bottom: 8em;
  --mobile-padding-top: 6em;
  --mobile-padding-bottom: 6em;
  --mobile-padding-left: 7%;
  --mobile-padding-right: 7%;
  --desktop-margin-inner-elements: 1em;
  --mobile-margin-inner-elements: 2em;
  --mobile-width: 300px;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  overflow-x: scroll;
}

.navbar {
  background-color: white;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 3em;
}

li {
  list-style: none;
}
a {
  color: var(--dark-blue);
  text-decoration: none;
}

.nav-menu {
  position: fixed;
  display: none;
  transition: 0.3s;
}
.nav-menu.active {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin-top: 300px;
  width: 90vw;
  margin-left: 4vw;
  z-index: 1;
}
.flex-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15em;
}
.nav-item {
  margin-top: 1.5em;
}
.nav-item:nth-last-child(1) {
  margin-bottom: 1.5em;
}
.nav-menu a {
  color: var(--dark-blue);
  padding: 1.5em 1.5em;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  width: 50px;
  padding-right: 3em;
}

.requestinvite {
  display: block;
  background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
}
.requestinvite > a {
  color: white;
}

.navbar > .requestinvite {
  display: none;
  margin-right: 7vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.header {
  background-image: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: 100%;
  background-color: var(--very-light-gray);
  background-position: 0em -3em;
}
img.bg-top {
  position: absolute;
  object-position: 0 -7rem;
  width: 100%;
}

.bg-top.active {
  opacity: 0;
}
.header.active {
  background: url(./images/bg-intro-mobile.svg),
    linear-gradient(180deg, var(--grayish-blue), var(--light-grayish-blue));
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -100px;
}
.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100%;
}
.top-content div {
  margin-bottom: 24px;
}
.top-content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-content-title p {
  font-weight: var(--title-font-wt);
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  word-spacing: var(--title-word-spacing);
  color: var(--title-font-color);
}
.top-content-para p {
  font-size: var(--para-font-size);
  line-height: var(--para-line-ht);
  color: var(--para-font-color);
  padding-left: var(--mobile-padding-left);
  padding-right: var(--mobile-padding-right);
}

.header .requestinvite {
  margin-bottom: 80px;
}

/*part2*/
.utility-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-blue);
  padding-top: var(--mobile-padding-top);
  padding-bottom: var(--mobile-padding-bottom);
}
.utility-page div {
  margin-bottom: 1em;
}
.utility-page-title {
  font-size: var(--title-font-size);
  word-spacing: var(--title-word-spacing);
  color: var(--title-font-color);
}
.utility-page-intro {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 1em;
  padding-left: var(--mobile-padding-left);
  padding-right: var(--mobile-padding-right);
  font-size: var(--para-font-size);
  color: var(--para-font-color);
}

.utility-title {
  font-weight: 20;
  font-size: 1.1em;
  color: var(--title-font-color);
  text-align: center;
}
.intro-page-content {
  font-size: var(--para-font-size);
  line-height: var(--para-line-ht);
  color: var(--para-font-color);
}
.intro-page-content p {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.utility {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--mobile-margin-inner-elements);
  margin-left: var(--mobile-margin-inner-elements);
}
.utility-title {
  color: #3a3a46;
}

.utility > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.utility > div > div {
  padding-bottom: 15px;
}
.utility-content {
  font-size: var(--para-font-size);
  line-height: var(--para-line-ht);
  color: var(--para-font-color);
  text-align: center;
  width: 300px;
}

/*part3*/
.latest-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--mobile-padding-top);
  padding-bottom: var(--mobile-padding-bottom);
  background-color: var(--very-light-gray);
  /*padding-left: var(--mobile-padding-left);
  padding-right: var(--mobile-padding-right);*/
}
.latest-articles-title {
  font-weight: 20;
  font-size: 1.6em;
  letter-spacing: var(--title-letter-spacing);
  word-spacing: var(--title-word-spacing);
  color: var(--title-font-color);
  text-align: center;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--mobile-margin-inner-elements);
  margin-right: var(--mobile-margin-inner-elements);
  background-color: white;
  width: var(--mobile-width);
  margin-top: var(--mobile-margin-inner-elements);
  border-top-left-radius: 20px;
}

.article-image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.article-content {
  display: flex;
  flex-direction: column;
}
.article-content *p {
  padding-top: 0.6em;
}
.credit {
  font-size: var(--para-font-size);
  line-height: var(--para-line-ht);
  color: var(--para-font-color);
  padding-left: var(--mobile-padding-left);
  padding-right: var(--mobile-padding-right);
}
.text-title {
  font-weight: 20;
  font-size: var(--title-inner-mobile);
  color: var(--title-font-color);
  padding-left: var(--mobile-padding-left);
}
.text-title:hover {
  cursor: pointer;
  color: var(--lime-green);
}
.article-text {
  font-size: var(--para-font-size);
  line-height: var(--para-line-ht);
  color: var(--para-font-color);
  padding-left: var(--mobile-padding-left);
  padding-right: var(--mobile-padding-right);
  padding-bottom: var(--mobile-padding-bottom);
}

/*part4*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  padding-top: var(--mobile-padding-top);
  padding-bottom: var(--mobile-padding-bottom);
  padding-left: var(--mobile-padding-left);
}

.footer-icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.footer-icons > .logo {
  padding-left: 0;
  margin-bottom: 1em;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social-icon {
  margin-right: 1em;
}
.about-me {
  color: white;
}
.about-me div {
  margin-bottom: 1em;
}
.requestinvite-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.requestinvite-copyright div {
  margin-bottom: 1em;
}

.copyright {
  color: lightgray;
}
.attribution {
  background-color: gray;
  color: darkgray;
}
.attribution a {
  color: orange;
}

/*media query for desktop*/
@media (min-width: 810px) {
  .main-container {
    width: 100%;
  }

  .navbar {
    padding-bottom: 1%;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    width: 100%;
  }

  .hamburger {
    display: none;
  }
  .nav-menu {
    position: absolute;
    display: flex;
    margin-left: 25vw;
    margin-bottom: 29px;
  }
  .nav-menu a:hover {
    text-decoration: underline;
    text-decoration-color: var(--lime-green);
  }
  .flex-nav-items {
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .nav-menu a {
    color: var(--grayish-blue);
  }
  .navbar > .requestinvite {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: row;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 52em 45em;
    background-position: 35em -10em;
  }
  .top-content {
    order: -1;
    padding-top: var(--desktop-padding-top);
    padding-left: var(--desktop-padding-left);
    padding-bottom: var(--desktop-padding-bottom);
    align-items: flex-start;
  }
  .top-content-title p {
    text-align: left;
  }
  .top-content-para p {
    padding: 0;
  }

  .header .requestinvite {
    margin-bottom: 0;
  }
  img.bg-top {
    object-fit: cover;
    object-position: 6em -8em;
    height: 37em;
    width: 50%;
    margin-left: 37.3em;
  }

  /*part2*/

  .utility-page {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
  }
  .utility-page > div {
    margin-bottom: var(--desktop-margin-inner-elements);
  }
  .utility-page-title {
    padding-left: 7%;
    font-size: var(--title-font-size-desktop);
    font-weight: var(--title-font-wt-desktop);
    display: flex;
    flex-direction: row;
  }
  .utility-page-title-left {
    padding-left: 0.2em;
  }
  .utility-page-intro {
    width: 42%;
    padding-left: 7%;
    text-align: left;
  }

  .utility-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 7%;
  }
  .utility > div {
    align-items: flex-start;
    align-self: flex-start;
  }
  .utility {
    text-align: left;
    margin-right: 1em;
    margin-left: 0;
  }
  .utility-icon img {
    height: 34px;
    width: 34px;
  }
  .utility-content {
    width: 85%;
    text-align: left;
    font-size: var(--para-font-size-desktop);
  }
  .utility-title {
    font-size: var(--title-small-font-size-desktop);
  }

  /*part-3*/
  .latest-articles {
    align-items: flex-start;
    padding-left: var(--desktop-padding-left);
  }
  .latest-articles-title {
    text-align: left;
    padding-left: 2%;
  }
  .flex-articles {
    display: flex;
    flex-direction: row;
  }
  .article {
    width: 200px;
    margin-left: var(--desktop-margin-inner-elements);
    margin-right: var(--desktop-margin-inner-elements);
  }
  .article-image img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 150.09px;
  }
  .credit {
    font-size: var(--para-font-size-desktop);
  }
  .text-title {
    font-size: var(--title-small-font-size-desktop);
  }
  .article-text {
    padding-bottom: 2em;
    font-size: var(--para-font-size-desktop);
  }

  /*part4*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12em;
    padding-top: var(--desktop-padding-top);
    padding-bottom: var(--desktop-padding-bottom);
    padding-left: var(--desktop-padding-left);
  }

  .requestinvite-copyright {
    margin-right: 4em;
  }
  .about-me {
    height: 8em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about-me > div {
    padding-right: 1.02em;
  }
}
